* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#world {
    width: 100vw;
    height: 100vh;
    /* background: url('../textures/seraphim.png') no-repeat, url('../textures/sky.png') repeat-x; */
}

#world svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#map {
    position: absolute;
    border: 1px solid black;
    background: white;
    z-index: 999999999999;
}

polygon {
    stroke: red;
    stroke-width: 1;
}