* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#world {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}

#map {
    position: absolute;
    border: 1px solid black;
    background: white;
}

polygon {
    fill: blue;
    opacity: 0.5;
    stroke: red;
    stroke-width: 1;
}